In [2]:
#Q1

# Data Encoding is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms.
# Models only work with numerical values. For this reason, it is necessary to convert the categorical values of the features into numerical ones, So the machine can learn from those data and gives the right model.

In [3]:
#Q2
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [5]:
encoder=OneHotEncoder()

In [6]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [7]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [8]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [9]:
#Q3

In [10]:
# To prevent biases from being introduced, One-Hot Encoding is preferable for nominal data (where there is no inherent order among categories). Label encoding, however, might be more appropriate for ordinal data (where categories naturally have an order.

In [11]:
#For Example:
# Let say we have a data with Region Faeture['s','n','e','w'] we can use a one hot encoding as there is no inherent order in the Feature.

In [13]:
#Q4
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'violet', 'pink']
})

In [14]:
encoder=OneHotEncoder()

In [15]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [16]:
encoded

array([[0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.]])

In [17]:
# The Reason for Choosing the One hot encoder is that there is no inherent order within the Values and the Number of Columns is manageble

In [18]:
#Q5

In [27]:
# Lets us Suppose the Two Columns are 
df=pd.DataFrame({'Gender':['M','F','M'],
'city':['Delhi','Chandigarh','Bangalore']})

In [28]:
encoder=OneHotEncoder()

In [29]:
encoded=encoder.fit_transform(df[['city','Gender']]).toarray()

In [30]:
encoded

array([[0., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0.],
       [1., 0., 0., 0., 1.]])

In [31]:
#So we will be having Five more Columns

In [32]:
#Q6
df=pd.DataFrame({'Type':['Elephant','Lion','eagle','Crocodile','Elephant'],
                 'Species':['Mammal','Mammal','Bird','Reptiles','Mammal'],
                 'Diet':['Herbivore','Carnivore','Omnivore','Carnivore','Herbivore'],
                 'Habitat':['forests', 'grasslands', 'deserts', 'shorelines','Forest']})

In [33]:
df

        Type   Species       Diet     Habitat
0   Elephant    Mammal  Herbivore     forests
1       Lion    Mammal  Carnivore  grasslands
2      eagle      Bird   Omnivore     deserts
3  Crocodile  Reptiles  Carnivore  shorelines
4   Elephant    Mammal  Herbivore      Forest

In [35]:
encoded=encoder.fit_transform(df[['Type','Species',	'Diet',	'Habitat']]).toarray()

In [36]:
encoded

array([[0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0.]])

In [37]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [38]:
pd.concat([df,encoder_df],axis=1)

,Type,Species,Diet,Habitat,Type_Crocodile,Type_Elephant,Type_Lion,Type_eagle,Species_Bird,Species_Mammal,Species_Reptiles,Diet_Carnivore,Diet_Herbivore,Diet_Omnivore,Habitat_Forest,Habitat_deserts,Habitat_forests,Habitat_grasslands,Habitat_shorelines
0,Elephant,Mammal,Herbivore,forests,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Lion,Mammal,Carnivore,grasslands,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,eagle,Bird,Omnivore,deserts,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,Crocodile,Reptiles,Carnivore,shorelines,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Elephant,Mammal,Herbivore,Forest,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [45]:
# #Q7
# For Such a case:
#     1. Nominal for Gender
#     2. Target Based for Contract type based on Monthly Charges
# #Import the database
# #Import the Libraries Necessary
# #Complete the Encoding
# #Present the new Table