#Q1 
Missing values are the values for a feature which have not been recorded or are unavailable.
It is essential to handle missing values to create training data on which a model is going to be trained and to HAVE A CONSISTENT RESULT as many machine learning algorithms cannnot handle missing values.

The k-NN algorithm can ignore a column from a distance measure when a value is missing. Naive Bayes can also support missing values when making a prediction.

Q2
The techniques for handling missing values are:
1.Mean Value Imputation
2.Median Value Imputation
3.Mode Value Imputation
4.Row/Column wise Deletion

In [1]:
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
df=sns.load_dataset('titanic')

In [8]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [6]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [9]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [10]:
## Delete the rows or data point to handle missing values
df.dropna().shape

(182, 15)

In [11]:
## Column wise deletion
df.dropna(axis=1)

,survived,pclass,sex,sibsp,parch,fare,class,who,adult_male,alive,alone
0,0,3,male,1,0,7.2500,Third,man,True,no,False
1,1,1,female,1,0,71.2833,First,woman,False,yes,False
2,1,3,female,0,0,7.9250,Third,woman,False,yes,True
3,1,1,female,1,0,53.1000,First,woman,False,yes,False
4,0,3,male,0,0,8.0500,Third,man,True,no,True
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,0,0,13.0000,Second,man,True,no,True
887,1,1,female,0,0,30.0000,First,woman,False,yes,True
888,0,3,female,1,2,23.4500,Third,woman,False,no,False
889,1,1,male,0,0,30.0000,First,man,True,yes,True
890,0,3,male,0,0,7.7500,Third,man,True,no,True

In [12]:
#MEan Value Imputation
df['Age_mean']=df['age'].fillna(df['age'].mean())

In [13]:
#Median Value Imputation:
df['age_median']=df['age'].fillna(df['age'].median())

In [14]:
#Mode Value Imputation
mode_value=df[df['embarked'].notna()]['embarked'].mode()[0]
df['embarked_mode']=df['embarked'].fillna(mode_value)

In [15]:
#Q3

In [16]:
#Imbalanced dataset is a dataset which has undenioable bias towards one value.

In [18]:
#When a dataset is imbalanced, several issues may arise. 
#Models may exhibit bias toward the majority class, resulting in poor predictions for the minority class.
# Accuracy as an evaluation metric can be misleading, as it may appear high while the model's performance on the minority class is lacking

In [19]:
#Q4
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [20]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [31]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)
df.groupby(df['target']).count()

        feature_1  feature_2
target
0             900        900
1             100        100

In [23]:
#The above is a imbalanced data set

In [24]:
#To make the dataset egalitarian we may use Downsampling or Upsampling.

#Q5
#Synthetic Minoritty OIversampling Technique is an oversamplinmg technique to oversample the data by using two points on a graph and filling in a straight line as many values as possible and required between them.

Q6
Outliers are values which lie beyong th lower fence and higher fence values for a dataset.
It is essential to handle outliers as the skew results leading to a bias in the output of the model.

Q7 To handle missing data we may use the following techniques:
1.Mean Value Imputation
2.Median Value Imputation
3.Mode Value Imputation
4.Row/Column wise Deletion

Q8
Strategies to determine what type of missing data is to see whether the missing values have any relation to the missing value itself or the observed value.
For example if the missing value has a relationship with the missing value itself then is Missing Not At Random.suppose you are collecting data on the income and job satisfaction of employees in a company. If employees who are less satisfied with their jobs are more likely to refuse to report their income, then the data is not missing at random. In this case, the missingness is dependent on job satisfaction, which is not directly observed or measured.

Q9
We can use the following techniques to make the dataset more balanced allowing for better traing of the model.
1.Selecting the important Features.
2.Downsampling/Upsampling
3.SMOTE
4.Balanced Bagging Classfier
5.Threshold moving

Q10
Some strategies for downsampling:
1. Feature Selection
2. Removing data to make the more balanced

Q11
Some strategies for upsampling:
1. Feature Selection
2. Adding data to make the more balanced
3.SMOTE