In [1]:
#1

In [2]:
#MongoDB is such a NoSQL database that scales by adding more and more servers and increases productivity with its flexible document model.

In [3]:
#Non-relational databases (often called NoSQL databases) are different from traditional relational databases in that they store their data in a non-tabular form. Instead, non-relational databases might be based on data structures like documents. A document can be highly detailed while containing a range of different types of information in different formats. This ability to digest and organize various types of information side by side makes non-relational databases much more flexible than relational databases.

In [4]:
#2
#Ad-hoc queries for optimized, real-time analytics.An ad hoc query is a short-lived command whose value depends on a variable.
#MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).
#Indexing appropriately for better query executions.
#Replication for better data availability and stability.
# Supports Sharding—the process of splitting larger datasets across multiple distributed collections, or “shards”—helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. 
#Load balancing-The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency.

In [4]:
#3

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://shprsin:Pwskillssps@cluster0.dyr2o81.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (671 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 671.3/671.3 kB 18.2 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 34.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
db= client["xyz"]

In [7]:
conn_coll= db["my_rec"]

In [10]:
data={'sps':'Dtabase',
      'ph': 9784575,
      'email':'abc@gmail.com'
     }

In [13]:
conn_coll.insert_one(data)

In [36]:
#4
conn_coll.find_one()

{'_id': ObjectId('653bac5fd7c4303769c7cfd7'),
 'sps': 'Dtabase',
 'ph': 9784575,
 'email': 'abc@gmail.com'}

In [10]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [11]:
conn_coll.insert_many(data3)

In [12]:

for i in conn_coll.find():
    print(i)

{'_id': ObjectId('653bac5fd7c4303769c7cfd7'), 'sps': 'Dtabase', 'ph': 9784575, 'email': 'abc@gmail.com'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bad2bd7c4303769c7cfda'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653bad2bd7c4303769c7cfde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653cb151cb9a5e3e5897f08e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653cb151cb9a5e3e5897f08f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653cb151cb9a5e3e5897f090'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653cb151cb9a5e3e5897f091'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653cb151cb9a5e3e5897f092'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653cb151cb9a5e3e5897f093'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653cb151cb9a5e3e5897f094'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653cb151cb9a5e3e5897f095'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653cb151cb9a5e3e5897f096'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653cb151cb9a5e3e5897f097'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653cb151cb9a5e3e5897f098'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653cb151cb9a5e3e5897f099'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [27]:
#5 Using the above DB

In [38]:
for i in conn_coll.find():
    print(i)

{'_id': ObjectId('653bac5fd7c4303769c7cfd7'), 'sps': 'Dtabase', 'ph': 9784575, 'email': 'abc@gmail.com'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bad2bd7c4303769c7cfda'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653bad2bd7c4303769c7cfde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe3'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [44]:
conn_coll.find().sort('name')

In [45]:
for i in conn_coll.find():
    print(i)

{'_id': ObjectId('653bac5fd7c4303769c7cfd7'), 'sps': 'Dtabase', 'ph': 9784575, 'email': 'abc@gmail.com'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bad2bd7c4303769c7cfda'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653bad2bd7c4303769c7cfde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe3'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
conn_coll.delete_one({'name':'Viola'})

In [14]:
for i in conn_coll.find():
    print(i)

{'_id': ObjectId('653bac5fd7c4303769c7cfd7'), 'sps': 'Dtabase', 'ph': 9784575, 'email': 'abc@gmail.com'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bad2bd7c4303769c7cfda'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653bad2bd7c4303769c7cfde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653cb151cb9a5e3e5897f08e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653cb151cb9a5e3e5897f08f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653cb151cb9a5e3e5897f090'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653cb151cb9a5e3e5897f091'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653cb151cb9a5e3e5897f092'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653cb151cb9a5e3e5897f093'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653cb151cb9a5e3e5897f094'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653cb151cb9a5e3e5897f095'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653cb151cb9a5e3e5897f096'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653cb151cb9a5e3e5897f097'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653cb151cb9a5e3e5897f098'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [30]:
b={'name':{"$regex": "^S"}}
conn_coll.delete_many(b)

In [31]:
for i in conn_coll.find():
    print(i)

{'_id': ObjectId('653bac5fd7c4303769c7cfd7'), 'sps': 'Dtabase', 'ph': 9784575, 'email': 'abc@gmail.com'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653bad2bd7c4303769c7cfd9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653bad2bd7c4303769c7cfda'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653bad2bd7c4303769c7cfdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653bad2bd7c4303769c7cfe1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653cb151cb9a5e3e5897f08e'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653cb151cb9a5e3e5897f08f'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653cb151cb9a5e3e5897f090'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653cb151cb9a5e3e5897f092'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653cb151cb9a5e3e5897f093'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653cb151cb9a5e3e5897f095'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653cb151cb9a5e3e5897f096'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653cb151cb9a5e3e5897f097'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653cb151cb9a5e3e5897f098'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [32]:
conn_coll.drop()

In [33]:
for i in conn_coll.find():
    print(i)