Q1
To use the ANOVA test we made the following assumptions:

Each group sample is drawn from a normally distributed population
All populations have a common variance
All samples are drawn independently of each other
Within each sample, the observations are sampled randomly and independently of each other
Factor effects are additive

Violation of the above assumptions impact the F statistic and does not allow for Proper inferences or results from the Data Set. Example presence of outliers impact the value of F statistics to a significant extent.

Q2
The types of Anova are:
One-Way ANOVA
A one-way ANOVA has just one independent variable. For example, difference in IQ can be assessed by Country, and County can have 2, 20, or more different categories to compare.

Two-Way ANOVA
A two-way ANOVA (are also called factorial ANOVA) refers to an ANOVA using two independent variables. Expanding the example above, a 2-way ANOVA can examine differences in IQ scores (the dependent variable) by Country (independent variable 1) and Gender (independent variable 2). Two-way ANOVA can be used to examine the interaction between the two independent variables. Interactions indicate that differences are not uniform across all categories of the independent variables. For example, females may have higher IQ scores overall compared to males, but this difference could be greater (or less) in European countries compared to North American countries.

N-Way ANOVA
A researcher can also use more than two independent variables, and this is an n-way ANOVA (with n being the number of independent variables you have). For example, potential differences in IQ scores can be examined by Country, Gender, Age group, Ethnicity, etc, simultaneously.

Q3
 An ANOVA uses an F-test to evaluate whether the variance among the groups is greater than the variance within a group.

Another way to view this problem is that we could partition variance, that is, we could divide the total variance in our data into the various sources of that variation. Some of the variance would come from variation among replicates within each group. Some of the variance may also come from variation among the groups. Partitioning variance is an incredibly important concept within statistics. For scientists, it is a useful way of looking at the world: variation is everywhere, and we want to know the relative contributions of all the sources of variation

Q4
. Sum of Squares Total (SST) – The sum of squared differences between individual data points (yi) and the mean of the response variable (y).

SST = Σ(yi – y)2
2. Sum of Squares Regression (SSR) – The sum of squared differences between predicted data points (ŷi) and the mean of the response variable(y).

SSR = Σ(ŷi – y)2
3. Sum of Squares Error (SSE) – The sum of squared differences between predicted data points (ŷi) and observed data points (yi).
SSE = Σ(ŷi – yi)2

In [9]:
#Q5
# Importing libraries 
import pandas as pd
import numpy as np
import statsmodels.api as sm 
from statsmodels.formula.api import ols 

# Create a dataframe 
dataframe = pd.DataFrame({'Fertilizer': np.repeat(['daily', 'weekly'], 15), 
						'Watering': np.repeat(['daily', 'weekly'], 15), 
						'height': [14, 16, 15, 15, 16, 13, 12, 11, 
									14, 15, 16, 16, 17, 18, 14, 13, 
									14, 14, 14, 15, 16, 16, 17, 18, 
									14, 13, 14, 14, 14, 15]}) 


# Performing two-way ANOVA 
model = ols("height ~ C(Fertilizer) + C(Watering) + C(Fertilizer):C(Watering)", data=dataframe).fit() 
result = sm.stats.anova_lm(model, type=2) 

# Print the result 
print(result)

                             df     sum_sq   mean_sq         F    PR(>F)
C(Fertilizer)               1.0   0.033333  0.033333  0.012069  0.913305
C(Watering)                 1.0   0.000369  0.000369  0.000133  0.990865
C(Fertilizer):C(Watering)   1.0   0.040866  0.040866  0.014796  0.904053
Residual                   28.0  77.333333  2.761905       NaN       NaN

To find and interpret main effects, the means of each independent variable must be taken and then compared with one another. To analyze interactions, the main effect of one independent variable must be analyzed at each level of the other independent variable

Q6 F-statistic of 5.23 and a p-value of 0.02.
What can you conclude about the differences between the groups, and how would you interpret these
results?

We can assume the sample size and find the degree of Freedom from F table and compare it with the F statistic to Tell us whether the Null Hypothesis can accepted.

Q7
To deal with missing Data we can use:
1. Listwise Deletion: Whenever there are missing values he Entire list is deleted and not taken account.
2.Multiple imputation- Running MI consists of three steps. First, the missing data are imputed multiple times. Second, the imputed data sets are analyzed separately. Third, the parameter estimates and hypothesis tests are pooled to form a final set of estimates and inferences

Q8 Post hoc tests commonly used are:
LSD: Uses t tests to perform all pairwise comparisons between group means. No adjustment is made to the error rate for multiple comparisons.
Bonferroni: Uses t tests to perform pairwise comparisons between group means, but controls overall error rate by setting the error rate for each test to the experimentwise error rate divided by the total number of tests. Hence, the observed significance level is adjusted for the fact that multiple comparisons are being made.
Sidak: Pairwise multiple comparison test based on a t statistic. Sidak adjusts the significance level for multiple comparisons and provides tighter bounds than Bonferroni.
Scheffe: Performs simultaneous joint pairwise comparisons for all possible pairwise combinations of means. Uses the F sampling distribution. Can be used to examine all possible linear combinations of group means, not just pairwise comparisons.
R-E-G-W F: Ryan-Einot-Gabriel-Welsch multiple stepdown procedure based on an F test.
R-E-G-W Q: Ryan-Einot-Gabriel-Welsch multiple stepdown procedure based on the Studentized range.
S-N-K: Makes all pairwise comparisons between means using the Studentized range distribution. With equal sample sizes, it also compares pairs of means within homogeneous subsets, using a stepwise procedure. Means are ordered from highest to lowest, and extreme differences are tested first.
Tukey: Uses the Studentized range statistic to make all of the pairwise comparisons between groups. Sets the experimentwise error rate at the error rate for the collection for all pairwise comparisons.
Tukey's b: Uses the Studentized range distribution to make pairwise comparisons between groups. The critical value is the average of the corresponding value for the Tukey's honestly significant difference test and the Student-Newman-Keuls.
Duncan: Makes pairwise comparisons using a stepwise order of comparisons identical to the order used by the Student-Newman-Keuls test, but sets a protection level for the error rate for the collection of tests, rather than an error rate for individual tests. Uses the Studentized range statistic.
Hochberg's GT2: Multiple comparison and range test that uses the Studentized maximum modulus. Similar to Tukey's honestly significant difference test.
Gabriel: Pairwise comparison test that used the Studentized maximum modulus and is generally more powerful than Hochberg's GT2 when the cell sizes are unequal. Gabriel's test may become liberal when the cell sizes vary greatly.
Waller-Duncan: Multiple comparison test based on a t statistic; uses a Bayesian approach.
Dunnett: Pairwise multiple comparison t test that compares a set of treatments against a single control mean. The last category is the default control category. Alternatively, you can choose the first category. 2-sided tests that the mean at any level (except the control category) of the factor is not equal to that of the control category. < Control tests if the mean at any level of the factor is smaller than that of the control category. > Control tests if the mean at any level of the factor is greater than that of the control category.

A priori comparisons are performed before the data are collected, and post-hoc (or a posteriori) comparisons are done after the data have been collected. When the null hypothesis of an analysis of variance (ANOVA) model is rejected, post-hoc tests are used to identify the population means that are different.

In [19]:
#Q9
n=50
df = pd.DataFrame({'A': np.random.random_integers(40, 100, n), 
						'B': np.random.random_integers(40, 100, n), 
						'C': np.random.random_integers(40, 100, n)})

/tmp/ipykernel_77/3866978017.py:3: DeprecationWarning: This function is deprecated. Please call randint(40, 100 + 1) instead
  df = pd.DataFrame({'A': np.random.random_integers(40, 100, n),
/tmp/ipykernel_77/3866978017.py:4: DeprecationWarning: This function is deprecated. Please call randint(40, 100 + 1) instead
  'B': np.random.random_integers(40, 100, n),
/tmp/ipykernel_77/3866978017.py:5: DeprecationWarning: This function is deprecated. Please call randint(40, 100 + 1) instead
  'C': np.random.random_integers(40, 100, n)})

In [15]:
dataframe

     A    B    C
0   99   95   69
1   80   94   49
2   64   46   62
3   85   44   42
4   69   67   82
5   97   93   74
6   80   76   70
7   51   65   81
8   89   74   76
9   80   89   42
10  94   88   58
11  78   95   59
12  98   72   83
13  98   85   42
14  64   65   54
15  40   88   48
16  66   45   74
17  54   92   84
18  72   78   95
19  72   41   46
20  66   62   42
21  57   97   72
22  44   95   67
23  76   71   81
24  68   78   60
25  99   62   57
26  65   45   91
27  98   81   66
28  96  100   73
29  55   79   81
30  98   89   84
31  90   85  100
32  47   61   82
33  71   58   42
34  61   44   99
35  61   86   84
36  88   93   53
37  45   46   48
38  81   50   50
39  56   41   77
40  44   58   83
41  96   53   41
42  91   72   95
43  61   66   64
44  99   43   89
45  55   55   99
46  44   75   72
47  55   60   80
48  51   98   57
49  94   51   46

In [17]:
from scipy.stats import f_oneway as FO

In [23]:
p=FO(df['A'],df['B'],df['C']).pvalue

In [24]:
if (p>.05):
    print("Accept the Null Hypothesis")
else:
    print("Reject the Null Hypothesis")

Accept the Null Hypothesis

In [26]:
#Q10

In [44]:
# Create a dataframe 
dataframe = pd.DataFrame({'Emp': np.repeat(['Novice', 'Experienced'], 15), 
						'Program': np.repeat(['A','B','C'], 10), 
						'Time': np.random.random_integers(20,50,30)})

/tmp/ipykernel_77/2663987935.py:4: DeprecationWarning: This function is deprecated. Please call randint(20, 50 + 1) instead
  'Time': np.random.random_integers(20,50,30)})

In [45]:
# Performing two-way ANOVA 
model = ols("Time ~ C(Emp) + C(Program) + C(Emp):C(Program)", data=dataframe).fit() 
result = sm.stats.anova_lm(model, type=2) 

# Print the result 
print(result)

                     df       sum_sq     mean_sq         F    PR(>F)
C(Emp)              1.0   360.533333  360.533333  7.183590  0.012599
C(Program)          2.0   190.433333   95.216667  1.897182  0.170181
C(Emp):C(Program)   2.0   207.552488  103.776244  2.067731  0.146771
Residual           26.0  1304.900000   50.188462       NaN       NaN

In [46]:
print("Since the p-values for Emp are both less than .05, this means the factor have a statistically significant effect on time.And since the p-value for the interaction effect (.120667) and The type of Program(.1701) is not less than .05, this tells us that there is no significant interaction effect between emp and program and also program type does not affect time significantly")

Since the p-values for Emp are both less than .05, this means the factor have a statistically significant effect on time.And since the p-value for the interaction effect (.120667) and The type of Program(.1701) is not less than .05, this tells us that there is no significant interaction effect between emp and program and also program type does not affect time significantly

In [53]:
#Q11
from scipy import stats
t=np.random.randint(0,100,50)
n=np.random.randint(0,100,50)

In [57]:
a=stats.ttest_ind(a=t, b=n, equal_var=True)

In [62]:
significance_value=.05
a.pvalue

0.6657679239774184

In [66]:
if (a.pvalue>significance_value):
    print("Reject the Null Hypothesis")
else:
    print("Accept the Null Hypothesis")

Reject the Null Hypothesis

In [68]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [77]:
# Create a dataframe 
dataframe = pd.DataFrame({'Type': np.repeat(['A', 'B','C'],30 ), 
						'Day': np.repeat(['Mon','Tue','Wed','Thur','Fri'],18), 
						'T': np.random.random_integers(20,50,90)})

/tmp/ipykernel_77/1431686521.py:4: DeprecationWarning: This function is deprecated. Please call randint(20, 50 + 1) instead
  'T': np.random.random_integers(20,50,90)})

In [78]:
# Performing two-way ANOVA 
model = ols("T ~ C(Type) + C(Day) + C(Type):C(Day)", data=dataframe).fit() 
result = sm.stats.anova_lm(model, type=2) 

# Print the result 
print(result)

                  df       sum_sq     mean_sq         F    PR(>F)
C(Type)          2.0    69.266667   34.633333  0.406302  0.667426
C(Day)           4.0   490.188889  122.547222  1.437668  0.228839
C(Type):C(Day)   8.0   651.377047   81.422131  0.955207  0.476579
Residual        83.0  7074.944444   85.240295       NaN       NaN

In [80]:
tukey = pairwise_tukeyhsd(endog=dataframe['T'],
                          groups=dataframe['Type'],
                          alpha=0.05)

In [81]:
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     A      B  -0.2333 0.9948 -5.9745 5.5078  False
     A      C   1.7333 0.7524 -4.0078 7.4745  False
     B      C   1.9667 0.6937 -3.7745 7.7078  False
---------------------------------------------------